@use 'variables' as *;

#main-body {
  background: url(#{$bg_image}) center / cover no-repeat;
  height: 100vh;
}

.p_inicio {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: $shadow;
  border-radius: 10px;
  color: #F5F5F5;
}

.main-column {
  height: 400px;
}

.carousel-item {
  height: 700px;
}

// _carousel.scss

.carousel-item {
  height: 700px; // Establece la altura fija del contenedor del carrusel

  img {
    height: 100%; // Ajusta la altura de la imagen al contenedor
    width: auto;  // Mantiene las proporciones de la imagen
    margin: auto; // Centra la imagen
    object-fit: cover; // Alternativa: usa 'contain' si deseas que las imágenes se ajusten sin recortarse
  }
}