@use 'variables' as *;

#main-body {
  background: url(#{$bg_image}) center / cover no-repeat;
  height: 100vh;
}

.p_inicio {
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: $shadow;
  border-radius: 10px;
  color: #F5F5F5;
}

.main-column {
  height: 400px;
}

.carousel-item {
  height: 700px;
}


.styled-title {
  font-family: "Poppins", sans-serif; 
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  padding: 10px;
  background: $gradient-primary;
  border: 2px solid transparent;
  border-radius: 15px;
}

.border-color {
  position: relative; /* Necesario para el uso de ::before */
  border: 2px solid transparent; 
  border-image: $gradient-primary 1 stretch; 
  border-radius: 15px; 
  overflow: hidden; /* Asegura que el contenido no sobresalga del borde redondeado */
}

.border-color::before {
  content: ''; /* Crea un pseudo-elemento vacío */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $gradient-primary; /* Aplica el gradiente como fondo */
  z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
  border-radius: 15px; 
}


.carousel-item {
  height: 700px; // Establece la altura fija del contenedor del carrusel

  img {
    height: 100%; // Ajusta la altura de la imagen al contenedor
    width: auto;  // Mantiene las proporciones de la imagen
    margin: auto; // Centra la imagen
    object-fit: cover; // Alternativa: usa 'contain' si deseas que las imágenes se ajusten sin recortarse
  }
}